apex==0.9.10dev
ConfigArgParse==1.7
cuml==0.6.1.post1
fvcore==0.1.5.post20221221
gradio==5.36.2
gradio_imageslider==0.0.20
h5py==3.13.0
imageio==2.33.0
matplotlib==3.5.3
mmcv==2.1.0
mmcv_full==1.7.2
mmdet==3.3.0
mmsegmentation==1.2.2
numpy==2.3.1
omegaconf==2.4.0.dev2
open3d==0.18.0
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opt_einsum==3.3.0
Pillow==10.1.0
Pillow==11.3.0
pytorch_lightning==2.1.2
PyYAML==6.0.1
PyYAML==6.0.2
scipy==1.16.0
setuptools==69.5.1
skimage==0.0
submitit==1.5.3
timm==0.4.12
torch==2.4.0
torchmetrics==1.2.1
torchvision==0.19.0
tqdm==4.66.4
xformers==0.0.27.post2
